/* Base styles */
.color-title {
  margin-top: 2rem;
}

/* Tablets */
@media (max-width: 1024px) {
  .color-title {
      margin-top: 1.5rem;
  }
}

/* Mobile devices */
@media (max-width: 768px) {
  .color-title {
      margin-top: 1rem;
      text-align: center; /* Optional: Center align for better presentation on small screens */
  }
}
